<h1>All The Activities</h1>

<ul>
  <% @activities.each do |activity| %>
    <li><%= link_to activity.name, activity_path(activity) %></li>
  <% end %>
</ul>

<p><%= link_to "Sign up a camper for an activity!", new_signup_path %></p>
